<h1 align="center">Submit a new blog post</h1>
<br />
<form action="/add" method="post">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" placeholder="Enter the title of your blog post..." name="Title" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Url">URL</label>
        <input type="text" placeholder="Enter the URL..." name="Url" value="" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>